{
  "openapi": "3.1.0",
  "info": {
    "title": "Wallets API",
    "description": "API for managing crypto and fiat wallets.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://payments.acebit.co"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/payments/buy/initiate": {
      "post": {
        "summary": "Initiate Payment",
        "description": "Generates a payment link using the 'TransactWorld' gateway.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "description": "Payment initiation details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment link generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/buy/history": {
      "get": {
        "summary": "Retrieve Payment History",
        "description": "Retrieves sanitized payment history for the authenticated user.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentHistory"
                }
              }
            }
          }
        }
      }
    },
    "/payments/sell/estimate": {
      "post": {
        "summary": "Estimate Sell Cost",
        "description": "Estimates the cost of selling an asset to fiat currency.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimated sell cost",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SellEstimateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/sell": {
      "post": {
        "summary": "Process Asset Sale",
        "description": "Processes a sell request for converting a cryptocurrency asset to fiat.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sell transaction processed successfully"
          }
        }
      }
    },
    "/wallets": {
      "get": {
        "description": "Retrieves all wallets (crypto and fiat) for the authenticated user.",
        "responses": {
          "200": {
            "description": "Wallets response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates multiple wallets for a user.",
        "requestBody": {
          "description": "Wallets to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWalletRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Wallets created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{asset}": {
      "post": {
        "description": "Creates a wallet for a specific asset.",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "The asset type (e.g., BTC, ETH, TRX).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "walletId": {
            "type": "string"
          },
          "asset": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WalletsResponse": {
        "type": "object",
        "properties": {
          "cryptoWallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          },
          "fiatWallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatWallet"
            }
          }
        }
      },
      "FiatWallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "userId": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWalletRequest": {
        "type": "object",
        "properties": {
          "wallets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
